*{
	padding: 0;
	margin: 0;
}
.body{
	margin: 0;
}

.navbar{
	display: flex;
	flex-direction: column; 
	
}
/*.toggle{
	position: absolute;
	float: right;
	background-color: blue;
	padding: 5px 10px;
	cursor: pointer;
}
.burger{
  width: 35px;
  height: 5px;
  background-color: black;
  margin: 6px 0;
}*/
.sidebar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: #f1f1f1;
  /*position: fixed;*/
  height: 100%;
  /*overflow: auto;*/
  text-align: center;
}



.sidebar a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}
 
.sidebar a.active {
  background-color: #4CAF50;
  color: white;
}

.sidebar a:hover:not(.active) {
  background-color: #555;
  color: white;
}

div.content {
  /*margin-left: 200px;*/
  padding: 1px 16px;
  /*height: 1000px;*/
}

@media screen and (min-width: 700px)
{
	.toogle{
		
	}
	

/*@media screen and (max-width: 700px) {
  .burger{
	width: 35px;
  	height: 5px;
  	background-color: black;
  	margin: 6px 0;
	}
	.toggle{
		position: absolute;
	}
  .sidebar {

    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: none;
  	text-align: center;
  }
  div.content {
  	margin-left: 0;
  }

  
}*/
/*
@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}*/