html,body{
  width: 100%;
  min-height: 100%;
  margin : 0;
  overflow-x: hidden;
}
body{
  /*background: url('../Assets/Regis/regisbg.png');*/
  background: #51218A;
  background-size: cover;
  
}
.bodi{
  width: 100%;
  height: 100%;
  background: url('../Assets/Regis/regisbg.png');
  display: flex;
  justify-content: center;
}
.containerAll{
  text-align: center;
  display: flex;
  flex-direction: column;
  align-content: center;
  color: white;
  width: 35rem;
}
.containerAll>img{
  margin: 0 auto;
}
.containerAll>h2,h3{
  
  margin: 0;
}
.containerForm{
  background: white;
  color: #8535E5;
  display: flex;
  text-align: center;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  border-radius: 5px;
  margin-bottom: 50px; 
}
.containerForm>h1,h3{
  margin: 0;
}
.containerForm>hr{
  width: 90%;
  height: 3px;
  margin: 0 5%;
  background: #8535E5;
  border-style: solid;
  border-radius: 10px;
}
.leader{
  display: flex;
  flex-direction: column;
  justify-content: flex-start; 
  margin: 0 10%;
}
.member2{
  margin: 0!important;
}
.innerLeader{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.leader-input>img{
  width: 15px;
  height: 15px;
  padding: 7.5px 5px 5px 7px;
  height: auto;
  position: absolute;
}
.hilang{
  display: none!important;
}
.innerLeader>h3{
  text-align: left;
}
.innerLeader>div{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 10px;
  margin-bottom: 10px; 
}
.leader-input>input{
  padding-left: 8%;
  height: 25px;
  border-style: solid;
  border-color: gray;
  border-width: 1.75px;
  border-radius: 5px;
}
.leader-input input:focus{
  border-color: #8535E5;
  color: #8535E5;
  transition: 1s;
  outline: none;
}
.leader-input>h3{
  width: 15px;
  padding: 3px 5px 3px 25px;
  height: auto;
  position: absolute;

}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}